.floating-circle-container {
    display: flex;
    flex-direction: column;
    /* align-items: right; */
    z-index: 1;
    align-items: flex-end;
}

/* 圓圈基礎樣式 */
.floating-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.6s ease, opacity 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 第一顆圓圈的特定樣式 */
.scroll-to-top-circle {
    background-color: #f39212;
    /* 起初隱藏 */
    opacity: 0;
    transform: translateY(0px);
    z-index: -1;

}

/* 第一顆圓圈顯示時的動畫 */
.scroll-to-top-circle.visible {
    opacity: 1;
    transform: translateY(-80px);
}

.settings-circle {
    background-color: #28a745;
}


.settings-circles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Icon 樣式 */
.icon {
    color: #fff;
}